<div class="app flex-row align-items-center" >
  <div class="container">
    <div class="row justify-content-center">      
        <div class="col-md-6" id="forgot-form">
          <form class="form" #f="ngForm" (ngSubmit)="onResetPass()">
         <div class="card-group mb-0">
          <div class="card p-2">
          <div class="card-block">         
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                  <img src="/assets/img/logo.png" class="logo-img">
                </div>
              </div>
               <div class="row mt-1">
                <div class="col-md-3"></div>
                <div class="col-md-12 text-center">
                  <h3>Forgot Password?</h3> 
                  <p class="text-muted">Enter your email address to receive a new password</p>
                  <p *ngIf='success'style="color:green;">An email has been sent to your email address. Please follow the instructions to reset your password</p>
                </div>
              </div>   
              <div class="text-center">   
                <div class="panel-body">                  
                  
                    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="icon-user"></i></span>                          
                          <input 
                           type="email" 
                           id="emailInput"
                           name="email"
                           ngModel
                           placeholder="email address"
                           class="form-control" 
                           pattern=""
                           required=""
                           #e="ngModel"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                           >
                        
                        </div>
                      </div>
                      <p class="help-block" style="color:red;" *ngIf="!e.valid && e.touched">Please enter a valid email!</p>
                      <div class="row">
                      <div class="col-6 text-left">
                        <button type="submit" class="btn btn-primary px-2"  [disabled]="!f.valid">Submit</button>
                      </div>
                      <div class="col-6 text-right">
                        <a href="" [routerLink]="['/pages/login']" class="px-0">Go back to Login</a>
                      </div>
                    </div>  
                     
                 
                </div>
                                        
        </div>
      </div>
    </div>
  </div>
 </form>
  </div>     
    </div>
  </div>
  </div>