header.navbar {
    background-color: #ad1519;
}

header.navbar .navbar-brand {
    display: inline-block;
    width: 155px;
    height: 55px;
    padding: 0.5rem 1rem;
    margin-right: 0;
    background-color: #ad1519;
    background-image: url(/assets/img/logo_white.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px auto;
    border-bottom: 1px solid #cfd8dc;
}

.navbar-brand {
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-nav .nav-link {
    color: #fff;
}