.timer-container {
	margin-bottom: 1rem;	
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #cfd8dc;
}

.timer-block {
	padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}

.log-timmer {
	border: 1px solid grey; 
	border-radius: 10px;
	padding: 5px 15px 12px 15px;  
	text-align: center;
}

.log-timmer .btn {
	padding: 0.5rem 1.5rem;
	border-radius: 5px;
	cursor: pointer;
}
.todayDate{
   margin: 4px;
   font-size: .9em;  
   float: right;
}
