<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Log Your Time
        </div>        
        <div class="card-block">   
          <form class="form-horizontal" #f="ngForm">
            <input 
                id="logid" 
                type="hidden" 
                name="logid"
                [ngModel]="logid">
            <input 
                id="employeeid" 
                type="hidden" 
                name="employeeid"
                [ngModel]="employee.employeeid">
              <input 
                id="employeename" 
                type="hidden" 
                name="employeename"
                [ngModel]="employee.firstname + ' ' + employee.lastname">

            <div class="form-group">
              <div class="row">            
                <div class="col-md-6">
                  <select 
                    class="form-control" 
                    name="project" 
                    id="project"
                    [(ngModel)]="project"
                    ngDisabled="timerRunning">
                      <option value=""> Select Process </option>
                      <option 
                        *ngFor="let prj of projects"
                        value="{{ prj.projectcode }}">
                        {{ prj.projecttitle }}
                      </option>
                  </select>
                </div>
                <div class="col-md-6">
                  <h4>Date : {{ date | date:'d-MMM-y' }}</h4>
                  <input 
                    id="datetime" 
                    type="hidden" 
                    name="datetime" 
                    [ngModel]="date | date:'yyyy-MM-dd HH:mm:ss Z'">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <textarea 
                  cols="64" 
                  rows="4"
                  id="lognote"
                  name="lognote"
                  [ngModel]="lognote"></textarea>
                </div>
                <div class="col-md-6">
                  <h5>{{ time }}</h5>
                  <input 
                    id="timespent" 
                    type="hidden" 
                    name="timespent"
                    [ngModel]="time">

                  <button 
                    class="btn btn-success" 
                    type="button" 
                    *ngIf="!timerRunning" 
                    (click)="startTimeLog()">
                    <i class="icon icon-control-play"></i> 
                    Start </button>
                  <button 
                    class="btn btn-danger" 
                    type="button" 
                    *ngIf="timerRunning" 
                    (click)="stopTimeLog()">
                    <i class="icon icon-control-pause"></i> 
                    Stop </button>
                </div>
              </div>
            </div>
          </form>      
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> All Logs
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>                
                <th>Date</th>
                <th>Time Spent</th> 
                <th>Project</th>
                <th>Log Note</th>
              </tr>
            </thead>
            <tbody *ngFor="let log of logs">
              <tr>                
                <td>{{ log.startdatetime | date:'dd-MMM-y' }}</td>                
                <td>{{ log.timespent.split(':')[0] + 'h ' + log.timespent.split(':')[1] + 'm ' }} ( {{ log.startdatetime | date:'h:mma' }} - {{ log.finishdatetime | date:'h:mma' }} )</td>               
                <td>{{ log.projecttitle }}</td>  
                <td>{{ log.lognote }}</td>  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>    
  </div>  
</div>
