#error{
 color:red;
}
#success{
    color:green;
}
.modal{
    margin-top:250px;
}
.modal-content{
    width:65%;
    margin: 0 auto;
}
.modal-header{
    padding-top:10px;
    padding-bottom:10px
}
.modal-title{   
    font-size: 1.0rem;
}
.modal-body{
    padding:10px;
}
.modal-footer{
    padding:10px;
}
.circle-icon {
    background: #b0bec5;
    /*background: #1a99d8;*/
	/*width: 100px;*/
    /*height: 100px;*/
    border-radius: 50%;
    text-align: center;
    /*line-height: 100px;*/
    vertical-align: middle;
    padding: 5px;
}
.breadcrumb-item.active{
    color: #000;
}
.btn {
    cursor: pointer;
}
