#error{
 color:red;
}
#success{
    color:green;
    margin-bottom:15px;
}
.modal{
    margin-top:250px;
}
.modal-content{
    width:65%;
    margin: 0 auto;
}
.modal-header{
    padding-top:10px;
    padding-bottom:10px
}
.modal-title{   
    font-size: 1.0rem;
}
.modal-body{
    padding:10px;
}
.modal-footer{
    padding:10px;
}
.circle-icon {
    background: #b0bec5;
    /*background: #1a99d8;*/
	/*width: 100px;*/
    /*height: 100px;*/
    border-radius: 50%;
    text-align: center;
    /*line-height: 100px;*/
    vertical-align: middle;
    padding: 5px;
}
.circle-icon:hover {
      background:#d6dcde;
     }
.breadcrumb-item.active{
    color: #000;
}
.btn,.fa {
    cursor: pointer;
}
#eye{
    margin-left: -31px;
    z-index: 999999999;
    position: absolute;
    margin-top: 5px;
}

input[type="date"] {
        padding: 0.25rem;
}
