input.ng-invalid.ng-touched {
  border: 1px solid red;
}
header.navbar {
    background-color: #ad1519;
}

header.navbar .navbar-brand {
    display: inline-block;
    width: 155px;
    height: 55px;
    padding: 0.5rem 1rem;
    margin-right: 0;
    background-color: #ad1519;
    background-image: url(/assets/img/logo_white.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px auto;
    border-bottom: 1px solid #cfd8dc;
}

.navbar-brand {
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-nav .nav-link {
    color: #fff;
}



.logo-img {
	width: 147px;
    height: 67px;
}

.login-form {
    background: white;
    border-radius: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.login-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1.618em 0;
    text-align: center;
    background-color: #ad1519 !important;
    border-color: #800f12 !important;
}

.login-body {
    padding: 1.618em;
}

.login-button {
    margin-bottom: 1.618em;
}

.login-button button {
    border-radius: 3px;
    border: 0;
    color: white;
    display: inline-block;
    padding: .809em 1.618em;
    text-align: center;
    text-transform: uppercase;
    -webkit-appearance: button;
    cursor: pointer;
    width: 100%;
}
