<div class="animated fadeIn">
<!-- add form start -->

<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Add Employee
          <a href="javascript:void(0)" (click)="toggleFlag()" class="pull-right"><i class="{{ formShowFlagText }}"></i></a>
         <!--  <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div> -->
        </div>
        <div class="card-block" *ngIf="formShowFlag">
          <form class="form-horizontal" (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="row">  
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">First Name</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input 
                    id="firstname" 
                    class="form-control" 
                    type="text"                    
                    ngModel
                    name="firstname"
                    required
                    #firstname="ngModel"
                    pattern="[a-zA-Z]*">
                </div>
               <span class="help-block" *ngIf="!firstname.valid && firstname.touched" id="error" >Please enter valid firstname</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Last Name</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input
                    id="lastname" 
                    class="form-control"
                    type="text"                    
                    ngModel
                    name="lastname"
                    required
                    #lastname="ngModel"
                    pattern="[a-zA-Z]*">
                </div>
               <span class="help-block" *ngIf="!lastname.valid && lastname.touched" id="error" >Please enter valid lastname</span>
              </div>
            </div> 
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Employee ID</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-key"></i></span>
                  <input 
                    id="employeeid" 
                    class="form-control"
                    type="text"
                    ngModel
                    name="employeeid"
                    required
                    #employeeid="ngModel"
                    pattern="^[1-9]+[0-9]*$">
                </div>
                 <span class="help-block" *ngIf="!employeeid.valid && employeeid.touched" id="error" >Please enter valid employee id</span>
              </div>
            </div> 
             <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Designation</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                  <input 
                    id="designation" 
                    class="form-control"
                    type="text"                    
                    ngModel
                    name="designation"
                    required
                    #designation="ngModel"
                    >
                </div>
                <span class="help-block" *ngIf="!designation.valid && designation.touched" id="error" >Please enter a valid designation</span>
              </div>
            </div>           
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Email</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">@</span>
                  <input 
                    id="email" 
                    class="form-control"
                    type="email"                    
                    ngModel
                    name="email"
                    required
                    #email="ngModel"
                    pattern="[[A-z0-9_\-]+[@][A-z0-9_\-]+([.][A-z0-9_\-]+)+([A-z.]{1})]*">
                </div>
                <span class="help-block" *ngIf="!email.valid && email.touched" id="error" >Please enter valid email</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Phone Number</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-phone"></i></span>
                  <input 
                  id="phonenumber" 
                  class="form-control"
                  type="text"
                  ngModel
                  name="phonenumber"
                  required
                  #phonenumber="ngModel"
                  pattern="^[1-9]+[0-9]*$">
                </div>
                 <span class="help-block" *ngIf="!phonenumber.valid && phonenumber.touched" id="error" >Please enter valid phone number</span>
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label class="form-control-label" for="">Shift</label>
              <select 
                id="shift" 
                class="form-control"
                [ngModel]="defaultShift"
                name="shift"
                #shift="ngModel"
                 required>
                <option value="morning">Morning</option>
                <option value="evening">Evening</option>
                <option value="night">Night</option>
              </select>
              <span class="help-block" *ngIf="!shift.valid && shift.touched" id="error" >Please enter a shift</span>
              <input type="hidden" name="password" [ngModel]="randPassword">
              <input type="hidden" name="usertype" [ngModel]="defaultUsertype"> 
              <input type="hidden" name="status" [ngModel]="defaultStatus"> 
            </div>
            
            <div class="col-lg-12">
            <div class="form-actions">
              <button
                type="submit" 
                class="btn btn-primary"
                ><i class="fa fa-save"></i>&nbsp;Add</button>           
            </div>  
            </div>                     
            </div>
          </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->

<!-- add form end -->
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- <div class="card-header">
          <i class="fa fa-align-justify"></i> Employees
        </div> -->
        <div class="card-block">
          <table datatable class="table table-striped row-border">
            <thead>
              <tr>
                <!-- <th>Employee ID</th> -->
                <th>First Name</th>
                <th>Last Name</th>
                <!-- <th>Email</th> -->
                <th>Designation</th>
                <th>Phone</th>
                <th>Shift</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users;let i=index">
                <!-- <td>{{ user.employeeid }}</td> -->
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <!-- <td>{{ user.email }}</td> -->
                <td>{{ user.designation }}</td>
                <td>{{ user.phonenumber }}</td>
                <td>{{ user.shift }}</td>
                <td>
                  <span                     
                    (click)="changeStatus(user.employeeid, 'active')"
                    *ngIf="user.status !== 'active'"><i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Active!"></i></span>
                  <span                    
                    (click)="changeStatus(user.employeeid, 'deactive')"
                    *ngIf="user.status === 'active'"><i class="fa fa-eye-slash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Deactive!"></i></span>
                  <span                      
                    (click)="updateUser(user.employeeid)"><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit!"></i></span>
                  <span                      
                    data-toggle="modal" 
                    (click)="showModel(user.employeeid);dangerModal.show()" ><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete!"></i></span>
                  <!-- <span class="badge badge-default" ng-else-if="user.status === 'inactive'">{{ user.status }}</span>
                  <span class="badge badge-danger" ng-else>{{ user.status }}</span> -->
                  
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<div bsModal #dangerModal="bs-modal"  class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title" >Delete User</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteUser( employee_id );dangerModal.hide()">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
