<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Edit Employee
         <!--  <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div> -->
        </div>
        <div class="card-block">
          <form class="form-horizontal" (ngSubmit)="updateUser()" #f="ngForm">
          <div class="row">           
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">First Name</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input 
                    id="firstname" 
                    class="form-control" 
                    type="text"                    
                    [ngModel]="firstname"
                    name="firstname"
                    required
                    #fst="ngModel"
                    pattern="[a-zA-Z]*">
                </div>
                 <span class="help-block" *ngIf="!fst.valid && fst.touched" id="error" >Please enter valid firstname</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Last Name</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input
                    id="lastname" 
                    class="form-control"
                    type="text"                    
                    [ngModel]="lastname"
                    name="lastname"
                    required
                    #last="ngModel"
                    pattern="[a-zA-Z]*">
                </div>
               <span class="help-block" *ngIf="!last.valid && last.touched" id="error" >Please enter valid lastname</span>
              </div>
            </div>
             <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Employee ID</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-key"></i></span>
                  <input 
                    id="employeeid" 
                    class="form-control"
                    type="text"
                    [ngModel]="employeeid"
                    name="employeeid"
                    readonly
                    >
                </div>
              </div>
            </div>
             <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Designation</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                  <input 
                    id="designation" 
                    class="form-control"
                    type="text"
                    [ngModel]="designation"
                    name="designation"                    
                    >
                </div>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Email</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">@</span>
                  <input 
                    id="email" 
                    class="form-control"
                    type="email"                    
                    [ngModel]="email"
                    name="email"
                    readonly>
                </div>                
                </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Phone Number</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-phone"></i></span>
                  <input 
                  id="phonenumber" 
                  class="form-control"
                  type="number"
                  [ngModel]="phonenumber"
                  name="phonenumber"
                  required
                  #phone="ngModel">
                </div>
                <span class="help-block" *ngIf="!phone.valid && phone.touched" id="error" >Please enter valid phonenumber</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="">Shift</label>
              <select 
                id="shift" 
                class="form-control"
                [ngModel]="shift"
                name="shift"
                #shifts="ngModel">
                <option value="general">General</option>
                <option value="morning">Morning</option>
                <option value="evening">Evening</option>
                <option value="night">Night</option>
              </select> 
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="">Status</label>
              <select 
                id="status" 
                class="form-control"
                [ngModel]="status"
                name="status">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
              <input type="hidden" name="password" [ngModel]="password">
              <input type="hidden" name="usertype" [ngModel]="usertype">
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Password</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input 
                  id="password" 
                  class="form-control"
                  type="text"
                  [ngModel]="password"
                  name="password"
                  required
                  [minlength]="6"
                  #pass="ngModel">
                </div>
                <span class="help-block" *ngIf="!pass.valid && pass.touched" id="error" >Password should not be empty and contain atleast 6 characters</span>
              </div>
            </div>         
            </div>
               <div class="row">
            <div class="form-group col-lg-12">
            <div class="form-actions">
              <button
                type="submit" 
                class="btn btn-primary"
                [disabled]="!f.valid"><i class="fa fa-save"></i> Save </button>
              <button class="btn btn-default" type="button" (click)="cancel()"><i class="fa fa-ban"></i> Cancel</button>
            </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
</div>
