<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Add Holidays
          <a href="javascript:void(0)" (click)="toggleFlag()" class="pull-right"><i class="{{ formShowFlagText }}"></i></a>        
        </div>
        <div class="card-block" *ngIf="formShowFlag">
          <form class="form-horizontal" (ngSubmit)="onSaveHoliday()" #f="ngForm">

        <!--   <div class="form-group">
              <label class="form-control-label" for="">ID</label>
              <input 
              type="text" 
              class="form-control"
              name="holidayid"
              ngModel
              required
              #holidayid="ngModel" 
               >         
            </div>
            <p class="help-block" style="color:red;" *ngIf="!holidayid.valid && holidayid.touched">Please enter a valid Id!</p>  -->
		   <div class="row">
		   	<div class="col-lg-5">	
           <div class="form-group">
              <label class="form-control-label" for="">Holiday Description</label>
              <input 
              id = "holidaydescription"
              type="text" 
              class="form-control" 
			        [ngModel] = "holidaydescription"	
              name="holidaydescription" 
              required  
              #holidaydesc="ngModel"
               >         
            </div>
             <p class="help-block" *ngIf="!holidaydesc.valid && holidaydesc.touched" id="error">Please enter a valid holiday description!</p>     
            </div>                   
			<div class="col-lg-5">	
             <div class="form-group">
              <label class="form-control-label" for="prependedInput">Holiday Date</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  <input 
                    id="holidaydate" 
                    class="form-control"
                    style="display:  -webkit-inline-box;" 
                    type="date"
                    [ngModel]="holidaydate"
                    name="holidaydate"
                    required 
                    #holidaydte="ngModel" >
                </div>                
              </div>
            </div>
            <p class="help-block" *ngIf="!holidaydte.valid && holidaydte.touched" id="error">Please enter a valid date!</p> 
            </div>  
            <div class="form-actions col-lg-2">            
            <div class="mt-2" style="padding: 8px;">            
              <button
                type="submit" 
                class="btn btn-primary"
                [disabled]="!f.valid"><i class="fa fa-save"></i>&nbsp; {{ buttonText }}</button>
            </div>
              <!-- <button class="btn btn-default" type="button"><i class="fa fa-ban"></i> Cancel</button> -->
            </div>
		   </div>
		    <!-- <div class="row">       
            <div class="form-actions col-lg-6">
              <button
                type="submit" 
                class="btn btn-primary"
                [disabled]="!f.valid"><i class="fa fa-save"></i>&nbsp; {{ buttonText }}</button>
            </div>
            </div> -->
          </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
<!--Listing Added Holidays-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Holiday List
        </div>
        <div class="card-block">
          <table datatable class="table table-striped row-border">
            <thead>
              <tr>
                
                <th>Holiday Description</th>
                <th>Date</th> 
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let holiday of holidays;let holidayIndex=index">                
                <td>{{ holiday.holidaydescription }}</td>                
                <td>{{ holiday.holidaydate }}</td>               
                <td style="text-align: center"> 
                <button 
                    class="btn btn-primary" 
                    (click)="updateHoliday(holidayIndex)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Update</button>               
                  <button 
                    class="btn btn-danger" 
                    (click)="deleteHoliday(holidayIndex)">
                   <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button>   
                     
                </td>
              </tr>
            </tbody>
          </table>
         <input 
         type="hidden" 
         name="buttonType"
         [ngModel]="buttonType" 
         >
        </div>
      </div>
    </div>    
  </div>  	

</div>

