<div class="animated fadeIn">
<!-- add form start  -->
<!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Add Leave        
        </div>
        <div class="card-block">
          <form class="form-horizontal" (ngSubmit)="onSaveLeave()" #f="ngForm">
          <div class="row">
           <div class="form-group col-lg-6">
              <label class="form-control-label" for="">Employ Name</label>
              <select 
                id="employename" 
                class="form-control" 
                ngModel
                name="employename"                
                >
                <option 
                      *ngFor="let user of users"
                      value="{{ user.employeeid }}">{{ user.firstname }} {{ user.lastname }}</option>                
              </select>               
            </div>

            <div class="form-group col-lg-6">
              <label class="form-control-label" for="">Leave Type</label>
              <select 
                id="leavetype" 
                class="form-control"
                [ngModel]="defaultLeave"
                name="leavetype">
                <option value="Sick">Sick Leave</option>
                <option value="Privilege">Privilege Leave</option>
                <option value="Anual">Anual Holiday</option>
                <option value="Optional">Optional Holiday</option>
              </select>             
            </div>

             <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Leave From</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  <input 
                    id="leavefrom" 
                    class="form-control"
                    style="display:  -webkit-inline-box;" 
                    type="date"
                    ngModel
                    name="leavefrom"
                    required
                    #leavefrom="ngModel">
                </div>                
              </div>
              <p class="help-block" style="color:red;" *ngIf="!leavefrom.valid && leaveto.touched">Please enter a valid from date!</p>
            </div>            
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Leave To</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  <input 
                    id="leaveto" 
                    class="form-control"
                    type="date"
                    style="display:  -webkit-inline-box;" 
                    ngModel
                    name="leaveto"
                    required
                    #leaveto="ngModel">
                </div>               
              </div>
              <p class="help-block" style="color:red;" *ngIf="!leaveto.valid && leaveto.touched">Please enter a valid to date!</p>
            </div>           
            
            <div class="form-group col-lg-6">
            <div class="form-actions">
              <button
                type="submit" 
                class="btn btn-primary"
                [disabled]="!f.valid">Save Leave</button>
              <button class="btn btn-default" type="button">Cancel</button>
            </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
<!-- add form end -->
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Manage Leaves
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                
                <th>Firstname</th>
                <th>Leave Type</th>               
                <th>From</th>
                <th>To</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let leave of leaves;let i=index">
              <tr>                
                <td>{{ leave.employename }}</td>
                <td>{{ leave.leavetype }}</td>
                <td>{{ leave.leavefrom }}</td>
                <td>{{ leave.leaveto }}</td>               
                <td style="text-align: center">   
                     <button 
                    class="btn btn-primary" 
                    (click)="updateLeave(i)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit</button>
                     <button 
                    class="btn btn-danger" 
                    (click)="deleteLeave(i)"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button> 
                </td>
              </tr>
            </tbody>
          </table>
         
        </div>
      </div>
    </div>    
  </div>  
</div>
