<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Manage User
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Project Code</th>
                <th>Project Title</th>
                <th>Team Members</th>
                <th>Hours Required</th>
                <th>Hours Taken</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let project of projectsDetails">
              <tr>
                <td>{{ project.projectcode }}</td>
                <td>{{ project.projecttitle }}</td>
                <td >{{ project.teammemberNames }}</td>
                <td>{{ project.hoursrequired }}</td>
                <td>{{ project.hourstaken }}</td>
                <td>{{ project.startdate }}</td>
                <td>{{ project.finishdate }}</td>
                <td>{{ project.status }}</td>
                <td>
                  <button 
                    class="btn btn-success" 
                    (click)="changeProjectStatus(project.projectcode, 'active')"
                    *ngIf="project.status !== 'active'">Activate</button>
                  <button
                    class="btn btn-secondary" 
                    (click)="changeProjectStatus(project.projectcode, 'deactive')"
                    *ngIf="project.status === 'active'">Deactivate</button>
                  <button 
                    class="btn btn-primary" 
                    (click)="updateProject(project.projectcode)">Edit</button>
                  <button 
                    class="btn btn-danger" 
                    (click)="deleteProject(project.projectcode)">Delete</button>
                  <!-- <span class="badge badge-default" ng-else-if="user.status === 'inactive'">{{ user.status }}</span>
                  <span class="badge badge-danger" ng-else>{{ user.status }}</span> -->
                  
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        {{item.name}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
