<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Edit Project
         <!--  <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div> -->
        </div>
        <div class="card-block">
          <form class="form-horizontal" (ngSubmit)="updateProject()" #f="ngForm">
          <div class="row">
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Project Code</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-eye"></i></span>
                  <input 
                    id="projectcode" 
                    class="form-control"
                    type="text"
                    [ngModel]="projectcode"
                    name="projectcode"
                    readonly>
                </div>
                <!-- <p class="help-block">Here's some help text</p> -->
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Project Title</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-screen-desktop"></i></span>
                  <input 
                    id="projecttitle" 
                    class="form-control"
                    type="text"
                    [ngModel]="projecttitle"
                    name="projecttitle"
                    required
                    #pjttitle="ngModel">
                </div>
                <span class="help-block" *ngIf="!pjttitle.valid && pjttitle.touched" id="error" >Please enter valid project title</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Hours Required</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-hourglass"></i></span>
                  <input 
                    id="hoursrequired" 
                    class="form-control" 
                    type="number"                    
                    [ngModel]="hoursrequired"
                    name="hoursrequired"
                    required
                    #hrsreq="ngModel">
                </div>
                <span class="help-block" *ngIf="!hrsreq.valid && hrsreq.touched" id="error" >Please enter valid time</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Hours Spent</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-hourglass"></i></span>
                  <input 
                    id="hoursrtaken" 
                    class="form-control" 
                    type="number"                    
                    ngModel
                    name="hoursrtaken"
                    required
                    #hrstaken="ngModel">
                </div>
                <span class="help-block" *ngIf="!hrstaken.valid && hrstaken.touched" id="error" >Please enter the hours taken</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Team Members</label>
              <div class="input-prepend input-group">
                <span class="input-group-addon"><i class="icon-people"></i></span>
                <!-- <select 
                  class="form-control" 
                  multiple="" 
                  name="teammembers" 
                  id="teammembers" 
                  class="form-control"
                  [ngModel]="teammembers">
                    <option value="1">User1</option>
                    <option value="2">User2</option>
                    <option value="3">User3</option>
                    <option value="4">User4</option>
                    <option value="5">User5</option>
                    <option value="6">User6</option>
                </select> -->

                <select 
                    class="form-control" 
                    name="teammembers" 
                    id="teammembers"
                    multiple=""  
                    [ngModel]="teammembers">
                    <option 
                      *ngFor="let user of users"
                      value="{{ user.employeeid }}">{{ user.firstname }} {{ user.lastname }}</option>
                  </select>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Start Date</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  <input 
                    id="startdate" 
                    class="form-control" 
                    style="display:  -webkit-inline-box;" 
                    type="date"  
                    name="startdate"
                    required
                    [(ngModel)]="startdate"
                    ngValue="startdate"
                    #startdte="ngModel">
                </div>
                <span class="help-block" *ngIf="!startdte.valid && startdte.touched" id="error" >Please enter the start date</span>
              </div>
            </div>
             <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Estimated Date</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  <input 
                    id="estimateddate" 
                    class="form-control" 
                    style="display:  -webkit-inline-box;" 
                    type="date"  
                    name="estimateddate"
                    required
                    [(ngModel)]="estimateddate"
                    ngValue="estimateddate"
                    #startdte="ngModel">
                </div>
                <span class="help-block" *ngIf="!estimateddate.valid && estimateddate.touched" id="error" >Please enter the start date</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Completed Date</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  <input 
                    id="finishdate" 
                    class="form-control"
                    style="display:  -webkit-inline-box;"  
                    type="date"  
                    name="finishdate"
                    required
                    [(ngModel)]="finishdate"
                    #finishdte="ngModel">
                </div>
                <span class="help-block" *ngIf="!finishdte.valid && finishdte.touched" id="error" >Please enter the finish date</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="">Status</label>
              <div class="input-prepend input-group">
                <span class="input-group-addon"><i class="icon-flag"></i></span>
                <select 
                  id="status" 
                  class="form-control"                  
                  [ngModel]="status"
                  name="status">
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                  <option value="completed">Completed</option>
                </select>
              </div>
            </div>
            <div class="form-group col-lg-12">
            <div class="form-actions">
              <button
                type="submit" 
                class="btn btn-primary"
                ><i class="fa fa-save"></i> Save</button>
              <button class="btn btn-default" type="button" (click)="cancel()"><i class="fa fa-ban"></i> Cancel</button>
            </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
</div>
