<div class="animated fadeIn">
  <!--/.row-->
  <!-- add form start -->
  <!--/.row-->
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Add New Project
        </div>
        <div class="card-block">
          <form class="form-horizontal" (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="row">
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Project Code</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-eye"></i></span>
                  <input 
                    id="projectcode" 
                    class="form-control"
                    type="text"
                    ngModel
                    name="projectcode"
                    required
                    #projectcode="ngModel">
                </div>
                <!-- <p class="help-block">Here's some help text</p> -->
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Project Title</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-screen-desktop"></i></span>
                  <input 
                    id="projecttitle" 
                    class="form-control"
                    type="text"
                    ngModel
                    name="projecttitle"
                    required
                    #projecttitle="ngModel">
                </div>
                <!-- <p class="help-block">Here's some help text</p> -->
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Hours Required</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-hourglass"></i></span>
                  <input 
                    id="hoursrequired" 
                    class="form-control" 
                    type="text"                    
                    ngModel
                    name="hoursrequired"
                    required
                    #hoursrequired="ngModel">
                </div>
                <!-- <p class="help-block">Here's some help text</p> -->
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Team Members</label>
              <div class="input-prepend input-group">
                <span class="input-group-addon"><i class="icon-people"></i></span>
                <select 
                    class="form-control" 
                    name="teammembers" 
                    id="teammembers"
                    multiple=""  
                    [(ngModel)]="teammembers">
                    <option 
                      *ngFor="let user of users"
                      value="{{ user.employeeid }}">{{ user.firstname }} {{ user.lastname }}</option>
                  </select>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Start Date</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  <input 
                    id="startdate" 
                    class="form-control" 
                    type="date"  
                    name="startdate"
                    style="display:  -webkit-inline-box;" 
                    required
                    [ngModel]="startdate | date:'yyyy-MM-dd'">
                </div>
                <!-- <p class="help-block">Here's some help text</p> -->
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="">Status</label>
              <div class="input-prepend input-group">
                <span class="input-group-addon"><i class="icon-flag"></i></span>
                <select 
                  id="status" 
                  class="form-control"                  
                  [ngModel]="status"
                  name="status">
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                  <option value="completed">Completed</option>
                </select>
              </div>
            </div>
            <input id="hourstaken" type="hidden" name="hourstaken" ngModel>
            <input id="finishdate" type="hidden" name="finishdate" ngModel>
            <div class="col-lg-12">
            <div class="form-actions">
              <button
                type="submit" 
                class="btn btn-primary"
                [disabled]="!f.valid">Save changes</button>
              <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
            </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
  <!-- add form end -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Manage Projects
        </div>
        <div class="card-block">
          <table datatable class="table table-striped row-border">
            <thead>
              <tr>
                <th>Project Code</th>
                <th>Project Title</th>
                <th>Team Members</th>
                <th>Hours Required</th>
                <th>Hours Taken</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projectsDetails">
                <td>{{ project.projectcode }}</td>
                <td>{{ project.projecttitle }}</td>
                <td >{{ project.teammemberNames }}</td>
                <td>{{ project.hoursrequired }}</td>
                <td>{{ project.hourstaken }}</td>
                <td>{{ project.startdate }}</td>
                <td>{{ project.finishdate }}</td>
                <td>{{ project.status }}</td>
                <td>
                  <button 
                    class="btn btn-success" 
                    (click)="changeProjectStatus(project.projectcode, 'active')"
                    *ngIf="project.status !== 'active'"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Activate</button>
                  <button
                    class="btn btn-secondary" 
                    (click)="changeProjectStatus(project.projectcode, 'deactive')"
                    *ngIf="project.status === 'active'"><i class="fa fa-eye-slash" aria-hidden="true"></i>&nbsp;Deactivate</button>
                  <button 
                    class="btn btn-primary" 
                    (click)="updateProject(project.projectcode)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit</button>
                  <button 
                    class="btn btn-danger" 
                    (click)="deleteProject(project.projectcode)"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</button>                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        {{item.name}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
