<div class="animated fadeIn">
  <!--/.row-->
  <!-- add form start -->
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" (click)="toggleFlag()" style="cursor:pointer">
          <i class="fa fa-edit"></i>Add New Project
          <a href="javascript:void(0)"  class="pull-right"><i class="{{ formShowFlagText }}"></i></a>
        </div>
        <div class="card-block" *ngIf="formShowFlag">
          <form class="form-horizontal" (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="row">
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Project Code</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-eye"></i></span>
                  <input 
                    id="projectCode" 
                    class="form-control"
                    type="text"
                    ngModel
                    name="projectCode"
                    required
                    #pjtcode="ngModel"
                    >
                </div>
                <span class="help-block" *ngIf="!pjtcode.valid && pjtcode.touched" id="error" >Please enter valid project name</span>
                <span class="help-block" id="error">{{ notValid }}</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Project Title</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-screen-desktop"></i></span>
                  <input 
                    id="projectTitle" 
                    class="form-control"
                    type="text"
                    ngModel
                    name="projectTitle"
                    required
                    #pjttitle="ngModel">
                </div>
                <span class="help-block" *ngIf="!pjttitle.valid && pjttitle.touched" id="error" >Please enter valid project title</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Hours Required</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-hourglass"></i></span>
                  <input 
                    id="hoursRequired" 
                    class="form-control" 
                    type="number"                    
                    ngModel
                    name="hoursRequired"
                    required
                    #hrsrequired="ngModel">
                </div>
                <span class="help-block" *ngIf="!hrsrequired.valid && hrsrequired.touched" id="error" >Please enter valid time</span>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Team Members</label>
              <div class="input-prepend input-group">
                <span class="input-group-addon"><i class="icon-people"></i></span>
                <select 
                    class="form-control" 
                    name="teamMembers" 
                    id="teamMembers"
                    multiple=""  
                    [(ngModel)]="teamMembers"
                    required
                    #members="ngModel">
                    <option 
                      *ngFor="let user of users"
                      value="{{ user.employeeid }}">{{ user.firstname }} {{ user.lastname }}</option>
                  </select>
              </div>
               <span class="help-block" *ngIf="!members.valid && members.touched" id="error" >Please select members</span>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Start Date</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  <input 
                    id="startDate" 
                    class="form-control" 
                    type="date"  
                    name="startDate"
                    style="display:  -webkit-inline-box;" 
                    required
                    [ngModel]="startDate | date:'yyyy-MM-dd'">
                </div>
                <!-- <p class="help-block">Here's some help text</p> -->
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="prependedInput">Estimated Date</label>
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                  <input 
                    id="estimatedDate" 
                    class="form-control" 
                    type="date"  
                    name="estimatedDate"
                    style="display:  -webkit-inline-box;" 
                    required
                    [ngModel]="estimatedDate | date:'yyyy-MM-dd'">
                </div>
                <!-- <p class="help-block">Here's some help text</p> -->
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label class="form-control-label" for="">Status</label>
              <div class="input-prepend input-group">
                <span class="input-group-addon"><i class="icon-flag"></i></span>
                <select 
                  id="status" 
                  class="form-control"                  
                  [ngModel]="status"
                  name="status">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                  <option value="Completed">Completed</option>
                </select>
              </div>
            </div>
            <input id="hoursTaken" type="hidden" name="hoursTaken" ngModel>
            <input id="finishDate" type="hidden" name="finishDate" ngModel>
            <div class="col-lg-12">
            <div class="form-actions">
              <button
                type="submit" 
                class="btn btn-primary"
                ><i class="fa fa-save"></i> &nbsp;Add</button>
             <!--  <button class="btn btn-default" type="button" (click)="cancel()"><i class="fa fa-ban"></i>  Cancel</button> -->
            </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
  <!-- add form end -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- <div class="card-header">
          <i class="fa fa-align-justify"></i> Manage Projects
        </div> -->
        <div class="card-block">
          <table datatable class="table table-striped row-border">
            <thead>
              <tr>
                <th>Project Code</th>
                <th>Project Title</th>                
                <th>Hours Spent</th>
                <th>Hours Required</th>
                <th>Start Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projectsDetails">
                <td>{{ project.projectCode }}</td>
                <td>{{ project.projectTitle }}</td>                
                <td>{{ project.hoursTaken }}</td>
                <td>{{ project.hoursRequired }}</td>
                <td>{{ project.startDate | date:'dd/MM/y' }}</td>
                <td>{{ project.status }}</td>
                <td>
                  <span                      
                    (click)="dangrModal.show();changeProjectStatus(project.projectCode,'Active',project.id);"
                    *ngIf="project.status !== 'Active'"><i class="fa fa-eye circle-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Active!"></i></span>
                  <span                    
                    (click)="dangrModal.show();changeProjectStatus(project.projectCode,'Inactive',project.id);"
                    *ngIf="project.status === 'Active'"><i class="fa fa-eye-slash circle-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Inactive!"></i></span>
                  <span                      
                    (click)="updateProject(project.projectCode)"><i class="fa fa-pencil-square-o circle-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></i></span>
                  <span                      
                    (click)="dangerModal.show();showModel(project.projectCode);"><i class="fa fa-trash-o circle-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></i></span>                  
                  <span                      
                    (click)="teamModal.show();teamMembers(project.projectCode);"><i class="fa fa-users circle-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Members"></i></span>                 
                
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #dangrModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ project_status }} project </h4>
        <button type="button" class="close" (click)="dangrModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to {{ project_status }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangrModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmProjectStatus(project_code,project_status);dangrModal.hide()">Confirm</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Project </h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteProject( projectId );dangerModal.hide()">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #teamModal="bs-modal" class="modal fade col-xs-12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-info" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Team Members </h4>
        <button type="button" class="close" (click)="teamModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table datatable class="table table-striped row-border">
            <thead>
              <tr>
                <th>Team Members</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of members">
                <td >{{ member }}</td>                
              </tr>
            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="teamModal.hide()">Close</button>       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        {{item.name}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()"><i class="fa fa-check"></i> OK</button>
        <button class="btn btn-warning" ng-click="cancel()"><i class="fa fa-ban"></i> Cancel</button>
    </div>
    
</script>
